<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.customer.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>com.customer.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnectivity</display-name>
    <servlet-name>DBConnectivity</servlet-name>
    <servlet-class>com.customer.DBConnectivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnectivity</servlet-name>
    <url-pattern>/DBConnectivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLoginServlet</display-name>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>com.customer.adminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendeeServlet</display-name>
    <servlet-name>AttendeeServlet</servlet-name>
    <servlet-class>com.customer.AttendeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendeeServlet</servlet-name>
    <url-pattern>/AttendeeServlet</url-pattern>
  </servlet-mapping>
</web-app>